.naira_card {
	margin-left: 2em;

	&_info {
		align-items: center;
	}
	&_balance {
		margin-top: 1em;
		display: flex;
		gap: 0.4em;
		align-items: center;
		h2 {
			font-size: 2.4em;
		}
	}
	.icon {
		width: 3em;
		height: 3em;
	}
}
